version: '3.8'

x-loggin: &default-logging
  driver: json-file
  options:
    max-size: "10m"
    max-file: "5"

services:
  net-sentinel:
    image: ghcr.io/benjppcesp/net-sentinel:v1
    logging: *default-logging
    container_name: net-sentinel
    restart: unless-stopped
    ports:
      - "2112:2112"

    user: "1000:1000"
    read_only: true
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true

    mem_limit: 512m
    cpus: 0.5

    environment:
      - TARGET_URL=https://www.bing.com

    volumes:
      - ./config.yaml:/app/config.yaml:ro

    command: [ "-config", "/app/config.yaml" ]

    networks:
      - monitoring-network
  watchtower:
    image: containrrr/watchtower
    logging: *default-logging
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 30 --cleanup
    restart: always
    networks:
      - monitoring-network

  prometheus:
    image: prom/prometheus:v3
    container_name: prometheus
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    networks:
      - monitoring-network
    depends_on:
      - net-sentinel

  grafana:
    image: grafana/grafana:main-ubuntu
    container_name: grafana
    volumes:
      - grafana_data:/var/lib/grafana
    ports:
      - "3000:3000"
    env_file:
      - .env
    networks:
      - monitoring-network

networks:
  monitoring-network:
    driver: bridge

volumes:
  prometheus_data:
  grafana_data:
